<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doudou.cn.testthreadmodel" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <uses-library android:name="android.test.runner"/>
        </activity>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.doudoudou.cn.testthreadmodel"
        android:label="Demo for JUnittest"/>
</manifest>
